---
import Navigation from "../components/Navigation.astro";
import Menu from "./Menu.astro";
const pageTitle = "Astro Learning";
---

<header>
  <h1>{pageTitle}</h1>
  <Menu />
  <Navigation />
</header>
